.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.chat-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 1rem;
  height: 300px;
  overflow-y: auto;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 600px;
  background-color: #eef2f7;
  border-radius: 10px;
  box-shadow: inset 0 0 5px #cfd8dc;
}

.input-container {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin-top: 1rem;
}

.chat-input {
  flex: 1;
  outline: none;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
  font-size: 1rem;
  outline-color: #2a9d8f;
  transition: outline-color 0.3s ease;
  background-color: white;
  color: black;
}

.chat-input::placeholder {
  color: #999;
}

.chat-button {
  padding: 0.5rem 1rem;
  background-color: #2a9d8f;
  color: white;
  border: none;
  border-radius: 0 6px 6px 0;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 0;
}

.chat-button:focus {
    outline: none;
    box-shadow: none;
}

.chat-button:hover {
  background-color: #238075;
}